body{
    background: rgb(196, 196, 196);
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
}
.card{
    width: 200px;
    height: 300px;
    background: rgb(0, 0, 0);
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}
.card h1{
    z-index: 1;
    color: #fffdfd;
}
.card::before{
   content: '';
    position: absolute;
    width:100px ;
    background-image: linear-gradient(180deg ,rgb(255, 191, 0),rgb(0, 128, 109));
    height: 130%;
    animation: ro 5s linear infinite;
    transition: all 0.2s linear;
   
}
@keyframes ro {
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
    
}
.card::after{
    content:'';
    position: absolute;
    background: rgb(0, 0, 0);
    inset: 5px;
    border-radius: 15px;
}